{% extends 'index.html' %}

{% block main %}

        <section class="section">
            <div class="container">
	            <h1>О проекте</h1>
	            <p>Данный проект организован как слияние исполнения двух задач: реализовать учебное задание по изучению основ Python3 и лучше изучить тему сделок с недвижимостью.</p>
                <p>Автор выражает признательность авторам видео и полностью уважает их авторское права, претендуя только на авторство в организации сортировки и классификации тем, которые раскрываются видеороликами.</p>
                <a>Свои предложения, претензии или благодарности вы можете адресовать автору через контакты, указанные на соответствующей странице (пункт меню <a href="/contacts"><span class="btn btn-text">«Контакты»</span></a>)</p>
            </div>
        </ssection>

{% endblock %}