{% extends 'index.html' %}

{% block main %}

        <section class="section">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-8 col-xl-9">
                        <h1>Видео «{{ videos[id].title|e }}»</h1>
                        <div class="mt-3 mb-3">Теги:
                            {% for key, val in tags.items() %}
                            <a href="/tags/{{ key|e }}"><span class="btn btn-text btn-text-azure">#{{ val|e }}</span></a>
                            {% endfor %}
                        </div>
                        <iframe width="860" height="490" src="https://www.youtube.com/embed/{{ videos[id].url|e }}" frameborder="0" allow="picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="col-12 col-lg-4 col-xl-3">
                        <aside class="aside">
                            {% for video in videos %}
                            <div class="aside-video-bl">
                            <a href="/videos/{{ video['id'] }}" class="aside-video-bl-link">
                              <div class="card aside-card-video">
                                <div class="card-body">
                                    <div class="img-bl" style="background-image: url('//img.youtube.com/vi/{{ video['url'] }}/1.jpg');"></div>
                                    <div class="txt-bl">{{ video['title'] }}</div>
                                </div>
                              </div>
                            </a>
                            </div>
                            {% endfor %}
                        </aside>
                    </div>
                </div>
            </div>
        </section>

{% endblock %}

